.table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  background: #e2e8f0;
  padding: 10px;
  border-bottom: 2px solid #cbd5e1;
  text-align: left;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.table tr:hover {
  background: #f8fafc;
}
